@model Models.Login

@{
    Layout = null;
    ViewBag.Title = "Login";
}

@Styles.Render("~/Content/css")
<h2>Login</h2>

@{ Html.EnableClientValidation(); }
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (@ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger fade in">
            @ViewBag.ErrorMessage
        </div>
    }
    <table>
        <tr>
            <td>Mobile No</td>
            <td>@Html.TextBoxFor(a => a.MobileNo, htmlAttributes: new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(a => a.MobileNo)</td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                @Html.TextBoxFor(a => a.LoginPassword, htmlAttributes: new { @class = "form-control" ,@type="password"})
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.LoginPassword)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Register Here", "RegisterUser", "MobileApp/UserRegistration")
            </td>
        </tr>
    </table>
}


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
