<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, minimum-scale=1.0" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Mobile.css?rd=1" rel="stylesheet" />
    <link href="~/Content/jquery.mmenu.all.css?rd=1" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Playball&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700" rel="stylesheet">

    <script src="~/Scripts/jQuery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery.mmenu.all.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.0.0/jquery.mmenu.all.js"></script>*@

</head>
<body>
    @* <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("EkRishta", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (Session["USER"] != null)
                        {

                        }
                    </ul>
                    @if (Session["USER"] != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Logout", "LogOut", "Login", new { area = "" },null)
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    *@


    <div class="main_maneu">
        <nav id="menu">
            @if (Session["USER"] != null)
            {
                Models.User obj = (Models.User)Session["USER"];
                <ul>
                    <li>
                        <a href="#" class="useer_bg">
                            <div class="m_icon user_pik">
                                <img id="imgProfilePic" alt="Profile" src="@obj.ProfilePicPath" />
                            </div>
                            <div class="us_box neme_user">
                                <span>@obj.UserName</span><br />
                                <span>@obj.ProfileId</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href='@Url.Action("Home", "User", new {area="MobileApp" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Home
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("MyProfile", "User", new { area = "MobileApp" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Profile
                        </a>
                        @*@Html.ActionLink("Profile", "MyProfile", "User", new { area = "MobileApp" }, null)*@
                    </li>
                    <li>
                        <a href='@Url.Action("MatchingProfile", "User", new { area = "MobileApp" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> My Matches
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("SentRequest", "User", new { area = "MobileApp" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Pending Requests
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("AcceptedRequest", "User", new { area = "MobileApp", RequestType = "Accepted" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Accepted Requests
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("AcceptedRequest", "User", new { area = "MobileApp", RequestType = "AcceptedMe" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Accepted Me
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("BlockedUser", "User", new { area = "MobileApp" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Blocked Profiles
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("RejectedRequest", "User", new { area = "MobileApp" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Declined Request
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("ProfileRequest", "User", new { area = "MobileApp" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Profile Request
                        </a>
                    </li>
                    <li>
                        <span>Search </span>
                        <ul>
                            <li>
                                <a href='@Url.Action("SearchProfile", "User", new {area="MobileApp" })'>
                                    <div class="m_icon">
                                        <img src="/images/my-profile.svg" alt="ek vivaah">
                                    </div> Search
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("SearchProfileById", "User", new { area = "MobileApp" })'>
                                    <div class="m_icon">
                                        <img src="/images/my-profile.svg" alt="ek vivaah">
                                    </div> Search Id
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='@Url.Action("UploadPhotos", "User", new { area = "MobileApp" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Upload Photos
                        </a>
                        @*@Html.ActionLink("Upload Photos", "UploadPhotos", "User", new { area = "MobileApp" }, null)*@
                    </li>
                    <li><a href="#">Contact Details</a></li>
                    @*<li>
                        <span>Contact </span>
                        <ul>
                            <li><a href="#"><div class="m_icon"> <img src="/images/my-profile.svg" alt="ek vivaah"> </div>Send Interests </a></li>
                            <li><a href="#"> <div class="m_icon"> <img src="/images/my-profile.svg" alt="ek vivaah"> </div>Accept </a></li>
                            <li><a href="#"> <div class="m_icon"> <img src="/images/my-profile.svg" alt="ek vivaah"> </div>Blocked </a></li>
                            <li><a href="#"><div class="m_icon"> <img src="/images/my-profile.svg" alt="ek vivaah"> </div> Declined </a></li>
                        </ul>
                    </li>*@
                    <li>
                        <a href='@Url.Action("ShortlistedProfile", "User", new {area="MobileApp" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Shortlisted
                        </a>
                    </li>
                    <li>
                        <span>Setting </span>
                        <ul>
                            <li><a href="#"> <div class="m_icon"> <img src="/images/my-profile.svg" alt="ek vivaah"> </div>Change Password</a></li>
                            <li><a href="#"> <div class="m_icon"> <img src="/images/my-profile.svg" alt="ek vivaah"> </div>Delete Profile</a></li>
                            <li><a href="#"> <div class="m_icon"> <img src="/images/my-profile.svg" alt="ek vivaah"> </div>About us</a></li>
                            <li><a href="#"> <div class="m_icon"> <img src="/images/my-profile.svg" alt="ek vivaah"> </div>Contact us</a></li>
                            <li>
                                @Html.ActionLink("Logout", "MobileLogOut", "Login", new { area = "MobileApp" }, null)
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='@Url.Action("ManageProfileVisitors", "User", new { area = "MobileApp", VisitedUserId = 0, ActionType = "S" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div> Profile Visitors
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("ManageUserPreferences", "UserPreferences", new { area = "MobileApp" })'>
                            <div class="m_icon">
                                <img src="/images/my-profile.svg" alt="ek vivaah">
                            </div>Desired Partner Profile
                        </a>
                    </li>
                </ul>
            }
        </nav>
    </div>


    <div class="content">
        @RenderBody()

    </div>
    <div class="space_empty"> </div>
    <div class="mobile-nav">
        <nav>
            <ul>
                <li>
                    <a href='@Url.Action("MyProfile", "User", new { area = "MobileApp" })'>
                        <i class="icon-home">
                            <img src="/images/my-profile.svg" alt="ek vivaah">
                        </i>Profile
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("SearchProfile", "User", new { area = "MobileApp" })'>
                        <i class="icon-home">
                            <img src="/images/search.svg" alt="ek vivaah">
                        </i>Search
                    </a>
                </li>
                <li>
                    <a href='@Url.Action("MatchingProfile", "User", new { area = "MobileApp" })'>
                        <i class="icon-home">
                            <img src="/images/my-profile.svg" alt="ek vivaah">
                        </i>Matches
                    </a>
                </li>
                <li class="mh-head Sticky"> <a href="#menu"> <i class="icon-home"><img src="/images/menu.svg" alt="ek vivaah"> </i>Menu </a></li>
            </ul>
        </nav>
    </div>

    <script type="text/javascript">
        $(function () {

            //	create a menu
            $('#menu').mmenu();

            //	fire the plugin
            //$('.mh-head').mhead();

            //	for demo only
            $('a[href^="#/"]').click(function () {
                //alert('Thank you for clicking, but that\'s a demo link.');
                return;
            })
        });
    </script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>