@model Areas.Models.UserProfessionalDetails

<ul id="ulProfessionalLabels">
    <li><strong>Qualification </strong> <p> : @Model.Degree</p>  </li>
    <li><strong>Field </strong> <p>: @Model.Field </p>  </li>
    <li><strong>College Name  </strong> <p>: @Model.CollegeName  </p>  </li>
    <li><strong>Company Name  </strong> <p>: @Model.CompanyName </p>  </li>
    <li><strong>Designation </strong> <p>: @Model.Designation </p>  </li>
    <li><strong>Income </strong> <p>: @Model.Income </p>  </li>

</ul>

<ul id="ulProfessionalEdit" style="display:none;">
    <li>
        <strong>Qualification </strong>:
        @Html.TextBoxFor(m => m.Degree, htmlAttributes: new { @id = "txtDegree", @placeholder = "Enter Qualification", })
    </li>
    <li>
        <strong>Field</strong>:
        @Html.TextBoxFor(m => m.Field, htmlAttributes: new { @id = "txtField", @placeholder = "Enter Field" })
    </li>
    <li>
        <strong>College Name</strong>:
        @Html.TextBoxFor(m => m.CollegeName, htmlAttributes: new { @id = "txtCollegeName", @placeholder = "Enter College Name" })
    </li>
    <li>
        <strong>Company Name</strong>:
        @Html.TextBoxFor(m => m.CollegeName, htmlAttributes: new { @id = "txtCompanyName", @placeholder = "Enter Company Name" })
    </li>
    <li>
        <strong>Designation</strong>:
        @Html.TextBoxFor(m => m.Designation, htmlAttributes: new { @id = "txtDesignation", @placeholder = "Enter Designation" })
    </li>
    <li>
        <strong>Income</strong>:
       @Html.DropDownListFor(m => m.Income, new SelectList(new List<object>{new {value=0,text = "Income"},
                                                                                     new {value="Upto 1 Lakh",text = "Upto 1 Lakh"},
                                                                                     new {value="1-2 Lakh",text="1-2 Lakh"},
                                                                                     new {value="2-4 Lakh", text="2-4 Lakh"},
                                                                                     new {value="4-6 Lakh", text="4-6 Lakh"},
                                                                                     new {value="6-8 Lakh", text="6-8 Lakh"},
                                                                                     new {value="8-10 Lakh", text="8-10 Lakh"},
                                                                                     new {value="More than 10 Lakh", text="More than 10 Lakh"}}, "value", "text"),htmlAttributes:new { @id = "ddlIncome" })
    </li>
</ul>
