@model IEnumerable<Areas.Models.ImageUpload>
@{
    ViewBag.Title = "UploadPhotos";
}
<link href="~/Content/lightgallery.css" rel="stylesheet">

@using (Html.BeginForm("UploadPhotos", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="divMessage"></div>
    <div class="user_title Profile">
        <p>Upload Photos</p>

    </div>
    <div class="maching-body">
        <div>
            <input type="file" name="ImageFile" id="uploadPhoto" multiple="">

            <input type="submit" value="Upload" style="color:#fff;background-color:#ff0d3d" id="btnUploadImage" />
        </div>

        <div class="user_title"><span> <img alt="matrimonial ek vivaah" src="/images/gallery.svg"></span> <p> Photos </p></div>
        <div class="details_gallery">
            <div class="demo-gallery">
                <ul id="lightgallery" class="list-unstyled">
                    @foreach (var item in Model)
                    {
                        <li data-src="@item.ImagePath">
                            <input type="hidden" value="@item.ImageId" data-name="@item.ImagePath" id="hdnImageId_@item.ImageId"/>
							<div class="photo-action"> 
							<div class="action-btn"> 
                            <a onclick="DeleteImage('@item.ImageId','@item.ImagePath',this)">
							<div class="m_icon"> <img src="/images/Delete-Profile.svg" alt="ek Delete"> </div>
							Delete</a>
							</div>
							<div class="action-btn"> 
                            <a onclick="SetProfilePic('@item.ImagePath',this)">
							<div class="m_icon"> <img src="/images/SetProfile.svg" alt="Set Profile"> </div>
							Set Profile</a>
							</div>
							</div>
                            <a href="">
                                @*<img class="img-responsive" src="@item.ImagePath" style="width:154px;height:104px" />*@
                                <img class="img-responsive" src="@item.ImagePath" />
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>

    <script>
        $("#btnUploadImage").on("click", function (e) {
            if (window.FormData !== undefined) {

                var fileUpload = $("#uploadPhoto").get(0);
                var files = fileUpload.files;

                if (fileUpload.files.length == 0) {
                    e.preventDefault();
                    $("#divMessage").html("Please Select Photo");
                }
            }
        });
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#lightgallery').lightGallery();
    });

    function DeleteImage(ImageId, ImagePath,e) {
        if (confirm('Do you want to delete?')) {
            $.ajax({
                url: "/User/DeleteImage",
                type: "POST",
                data: { 'ImageId': ImageId, 'ImagePath': ImagePath },
                success: function (result) {
                    window.location.href = window.origin + "/MobileApp/User/UploadPhotos";
                },
                error: function (xhr) {

                }
            });
        }
    }

    function SetProfilePic(ImagePath) {
        $.ajax({
            url: "/User/SetProfilePic",
            type: "POST",
            data: {'ImagePath': ImagePath },
            success: function (result) {
                //window.location.href = window.origin + "/MobileApp/User/UploadPhotos";

            },
            error: function (xhr) {

            }
        });
    }
    </script>
    <script src="~/Scripts/lightgallery-all.min.js"></script>
}
