@model Models.UserRegistration
@{
    ViewBag.Title = "RegisterUser";
}
<link href="~/Content/Mobile.css?rd=1" rel="stylesheet" />

<h2>RegisterUser</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmRegister" }))
{
    @Html.AntiForgeryToken()
    @*<div id="dvValidationMessage" class="alert alert-danger fade in">
        </div>*@
    <div id="dvValidationMessage">
    </div>
    <div class="banner"></div>
    @Html.HiddenFor(m => m.UserId, new { @id = "hdnUserId" })
    <div id="dvGender" class="ac">
        @Html.RadioButtonFor(m => m.Gender, "M", htmlAttributes: new { @id = "rdbMale", @checked = "" }) @Html.Label("I am Male", htmlAttributes: new { @for = "rdbMale", @style = "background:url('http://placekitten.com/150/150') no-repeat" })
        @Html.RadioButtonFor(m => m.Gender, "F", htmlAttributes: new { @id = "rdbFemale" }) @Html.Label("I am Female", htmlAttributes: new { @for = "rdbFemale", @style = "background:url('http://placekitten.com/151/151') no-repeat" })
        <br /><a id="acNextGender">Next</a>
    </div>

    <div id="dvMobile" class="ac" style="display:none;">
        <h3>Enter your Mobile Number</h3>
        @Html.TextBoxFor(m => m.MobileNo, htmlAttributes: new { @id = "txtMobileNo", @placeholder = "Enter Mobile No", @class = "form-control onlynumeric", @style = "margin-left: 38%;" })
        <br /><input type="button" id="acNextMobile" disabled="disabled" value="Next" />
    </div>

    <div id="dvOTP" class="ac" style="display:none;">
        <h3>Enter your OTP Number</h3>
        @Html.TextBoxFor(m => m.OTP, htmlAttributes: new { @id = "txtOTP", @placeholder = "Enter OTP", @class = "form-control", @style = "margin-left: 38%;" })
        <br /><a id="acNextOTP">Save And Next</a>
    </div>

    <div id="dvLoginDetails" class="ac" style="display:none;">
        <h3>Login Details</h3>
        @Html.TextBoxFor(m => m.EmailId, htmlAttributes: new { @id = "txtEmail", @placeholder = "Enter Email", @class = "form-control", @style = "margin-left: 38%;" })
        @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @id = "txtPassword", @placeholder = "Enter Password", @type = "password", @class = "form-control", @style = "margin-left: 38%;" })
        @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @id = "txtConfirmPassword", @placeholder = "Enter Password", @type = "password", @class = "form-control", @style = "margin-left: 38%;" })
        <br /><a id="acNextLoginDetails">Save And Next</a>
    </div>


    <div id="dvProfileCreatedFor" class="ac" style="display:none;">
        <h3>Profile Created By</h3>
        @Html.RadioButtonFor(m => m.ProfileCreatedBy, "1", htmlAttributes: new { @id = "rdbSelf", @checked = "" }) @Html.Label("Self")
        @Html.RadioButtonFor(m => m.ProfileCreatedBy, "2", htmlAttributes: new { @id = "rdbParent" }) @Html.Label("Parent/Guardian")
        @Html.RadioButtonFor(m => m.ProfileCreatedBy, "3", htmlAttributes: new { @id = "rdbFriend" }) @Html.Label("Sibling/Friend")
        <br /><a id="acNextProfileCreatedDetails">Save And Next</a>
    </div>
    <div id="dvContactDetails" class="ac" style="display:none;">
        <h3>Contact Details</h3>
        @Html.TextBoxFor(m => m.FirstName, htmlAttributes: new { @id = "txtFirstName", @placeholder = "First Name", @class = "form-control", @style = "margin-left: 38%;" })
        @Html.TextBoxFor(m => m.LastName, htmlAttributes: new { @id = "txtLastName", @placeholder = "Last Name", @class = "form-control", @style = "margin-left: 38%;" })
        @Html.TextBoxFor(m => m.MobileNo, htmlAttributes: new { @id = "txtContactMobileNo", @placeholder = "Mobile Number", @class = "form-control", @disabled = "disabled", @style = "margin-left: 38%;" })
        @Html.TextBoxFor(m => m.EmailId, htmlAttributes: new { @id = "txtContactEmailId", @placeholder = "Email Id", @class = "form-control", @disabled = "disabled", @style = "margin-left: 38%;" })
        <div>
            @Html.DropDownListFor(m => m.DOBDay, new SelectList(Model.DOBDayDetails, "Value", "Text"), htmlAttributes: new { @id = "ddlDOBDay", @name = "DOBDayValue", @class = "form-control DOBddl", @onchange = "CalculateAge()" })
            @Html.DropDownListFor(m => m.DOBMonth, new SelectList(Model.DOBMonthDetails, "Value", "Text"), htmlAttributes: new { @id = "ddlDOBMonth", @class = "form-control DOBddl", @onchange = "CalculateAge()" })
            @Html.DropDownListFor(m => m.DOBYear, new SelectList(Model.DOBYearDetails, "Value", "Text"), htmlAttributes: new { @id = "ddlDOBYear", @class = "form-control DOBddl", @onchange = "CalculateAge()" })
            @Html.HiddenFor(m => m.Age, htmlAttributes: new { @id="hdnAge"})
        </div>
        @Html.TextBoxFor(m => m.CallTime, htmlAttributes: new { @id = "txtContactTime", @placeholder = "Call to Time", @class = "form-control", @style = "margin-left: 38%;" })
        <br /><a id="acNextContactDetails">Save And Next</a>
    </div>
    <div id="dvBasicDetails" class="ac" style="display:none;">
        <h3>Basic Details</h3>
        @Html.DropDownListFor(m => m.MaritialStatus, new SelectList(new List<object>{new {value="Unmarried",text = "Unmarried"},
                                                                                     new {value="Divorced",text="Divorced"},
                                                                                     new {value="Widow", text="Widow"},
                                                                                     new {value="Widower", text="Widower"}}, "value", "text", 1), htmlAttributes: new { @class = "form-control" })
        @Html.DropDownListFor(m => m.ReligionId, new SelectList(Model.ReligionDetails, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
        @Html.DropDownListFor(m => m.MotherTounge, new SelectList(Model.LanguageDetails, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
        @*@Html.DropDownListFor(m => m.StateDetails, new SelectList(Model.StateDetails, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
            @Html.DropDownListFor(m => m.CityDetails, new SelectList(Model.CityDetails, "Value", "Text"), htmlAttributes: new { @class = "form-control" })*@

        @Html.DropDownListFor(m => m.CityId, new SelectList(new List<object>{new {value=0,text = "City"},
                                                                                     new {value=1,text = "Mumbai"},
                                                                                     new {value=2,text="Pune"},
                                                                                     new {value=3, text="Surat"}}, "value", "text", 1), htmlAttributes: new { @class = "form-control" })
        @Html.DropDownListFor(m => m.Income, new SelectList(new List<object>{new {value=0,text = "Income"},
                                                                                     new {value=1,text = "Upto 1 Lakh"},
                                                                                     new {value=2,text="1-2 Lakh"},
                                                                                     new {value=3, text="2-4 Lakh"}}, "value", "text", 1), htmlAttributes: new { @class = "form-control" })
        <br /><a id="acNextBasicDetails">Save And Next</a>
    </div>
    <div id="dvPhoto" class="ac" style="display:none;">
        <h3>Add your Profile Photo</h3>
        <input id="fuPhoto" type="file" />
        <br /><input type="button" id="btnUpload" value="Upload Photo" class="form-control btn-primary ac" />
    </div>

    <div id="dvSuccessMessage"></div>
    @*<div class="alert alert-success alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> This alert box could indicate a successful or positive action.
        </div>*@
}
@section scripts{
    <script src="~/Scripts/CustomJs/common.js?rd=1"></script>
    <script src="~/Scripts/CustomJs/UserRegistration.js?rd=1"></script>
}
